<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="body-proj">
    <div class="header-back-proj">
    <span class="site-title">Bildelskontrollen</span>
    </div>
</header>

<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item"><a href="{{ path('proj_main') }}" class="navbar-link">Hem</a></li>
        <li class="navbar-item"><a href="{{ path('proj_brands') }}" class="navbar-link">Märken</a></li>
        <li class="navbar-item"><a href="{{ path('proj_about') }}" class="navbar-link">Om</a></li>
        <li class="navbar-item"><a href="{{ path('post_create') }}" class="navbar-link">Skapa ett märke </a></li>
        <li class="navbar-item"><a href="{{ path('proj_category_list') }}" class="navbar-link">Kategori </a></li>
    </ul>
</nav>
        {% block body %}{% endblock %}
    </body>

  

</html>
