{% extends "base.html.twig" %}
{% block title %}API{% endblock %}

{% block body %}
<h2>Card page</h2>
<div class="grid-container-dynamic">
<p> This list contains diffrent api routes that you can input </p>
<ul>

<li><a href="{{ path('card_deck') }}">card/deck </a> - To show card deck sorted by number and color </li>
<li><a href="{{ path('card_shuffle') }}">card/shuffle </a> - To shuffle the cards </li>
<li><a href="{{ path('card_draw') }}">card/draw </a> - To draw card </li>
<li><a href="{{ path('card_draw_number', { 'number': 1 }) }}">card/draw/number</a> - Put in a number in the url to display the card based on numbers</li>

<p> Jag skapade en Card-klass som har två egenskaper: suit, som är en sträng som representerar kortets färg (t.ex. Hjärtan, Rutor, Klöver, Spader), och value, som är ett heltal som representerar kortets värde (t.ex. 2, 3, 4, osv.). Klassen innehåller en konstruktor för att initiera dessa egenskaper när en ny instans av kortet skapas.

Jag skapade också en Deck-klass som hanterar en samling av kort.
Den här klassen använder Card-klassen för att skapa instanser för varje kombination av färg och värde.
Deck-klassen inkluderar också olika metoder för att hantera och manipulera kortleken,
som att blanda och sortera korten baserat på specifika kriterier (som färg och värde).
 <img src="{{ asset('img/class.png') }}" alt="Background Image" class="img-style-class">
 </ul>
</div>

{% endblock %}