{% extends "base.html.twig" %}
{% block title %}API{% endblock %}

{% block body %}
<h2>API routes</h2>
<div class="grid-container-dynamic">
<p> This list contains diffrent api routes that you can input </p>
<ul>

<li><a href="{{ path('api_name') }}">api/quote </a> - To show random quotes </li>

<li><a href="{{ path('api_deck') }}">api/deck </a> - To show deck of cards </li>

<li><a href="{{ path('api_shuffle') }}">api/deck/shuffle </a> - To Shuffle cards </li>

<li><a href="{{ path('api_draw') }}">card/draw </a> - To draw card </li>

<li><a href="{{ path('api_draw_number', { 'number': 2 }) }}">api/deck/draw/number</a> - To draw 2 cards or draw the inputed number in url</li>

<li><a href="{{ path('api_game') }}">card/game </a> - To display game points and status </li>


 </ul>
</div>
{% endblock %}