<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
    <div class="header-back">
    <span class="site-title">Welcome to my personal symfony Site</span>
    </div>
</header>

<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item"><a href="{{ path('home') }}" class="navbar-link">Home</a></li>
        <li class="navbar-item"><a href="{{ path('about') }}" class="navbar-link">About</a></li>
        <li class="navbar-item"><a href="{{ path('report') }}" class="navbar-link">Report</a></li>
        <li class="navbar-item"><a href="{{ path('lucky') }}" class="navbar-link">Lucky page</a></li>
        <li class="navbar-item"><a href="{{ path('api') }}" class="navbar-link">API page </a></li>
        <li class="navbar-item"><a href="{{ path('card') }}" class="navbar-link">Card </a></li>
    </ul>
</nav>
        {% block body %}{% endblock %}
    </body>

  <footer>
    <div class="footer-content">
        <ul class="footer-links">
            <li><a href="https://github.com/rebahama/bth-mvc-1">Link to personal GitHub Repository</a></li>
            <li><a href="https://github.com/dbwebb-se/mvc">Link to GitHub course repo</a></li>
        </ul>
    </div>
</footer>

</html>
