{% extends 'base.html.twig' %}

{% block title %}Update Book{% endblock %}

{% block body %}
   <div class="book-form-container">
    <h1>Update Book</h1>
    <form method="POST" enctype="multipart/form-data">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="{{ library.title ?? '' }}" required>

        <label for="author">Author</label>
        <input type="text" name="author" id="author" value="{{ library.author ?? '' }}" required>

        <label for="isbn">ISBN</label>
        <input type="text" name="isbn" id="isbn" value="{{ library.isbn ?? '' }}" required>

        <label for="image">Book Image</label>
        <input type="file" name="image" id="image">

        {% if library.imagePath %}
            <div class="current-image">
                <p>Current Image:</p>
                <img src="{{ asset(library.imagePath) }}" alt="Book Image" width="120">
            </div>
        {% endif %}

        <button type="submit">Save</button>
        <a href="{{ path('library_view_all') }}" class="custom-btn">Back to Library</a>
    </form>
</div>
{% endblock %}
